# This is Git's per-user configuration file.
[user]
	name = FullHavocJosh
	email = josh@rollet.family

[push]
	# Automatically pushes the current branch by default.
	default = current

[core]
	# Sets Vim as the default editor for Git commands.
	editor = vim

[alias]
	# Pull and update submodules automatically
	pull = !git pull --recurse-submodules && git submodule update --init --recursive
